 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .font-sans-serif{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.nav-container{
  width: 1600px;
  height: 92px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  border: 1px solid rgb(248, 248, 249);  
}
.logo{

  font-size: 16px;
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
  color: #001931;
}
.logo li {
 font-size: 20px;
  color: 474747;
  text-decoration: none;
}
.btn{
  background-color: #469165;
  border: none;
  padding: 16px 12px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #FFFFFF;
}
.btn:hover{
  background-color: #12e96cfa;
  color: #ffffffbc
}
#banner-container{
  width: 1600px;
  height: 2908px;
  background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
}
#banner-container .banner-text{
max-width: 1360px;
text-align: center;
}
.Early{
  margin-top: 40px;
 padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: medium;
  cursor: pointer;
  color: #469165;
}
.banner-text h1{
   font-size: 85px;
  font-weight: bold;
  color:#FFFFFF ;
  margin-bottom: 20px;

}
.banner-text h1 .color-green{
  color: #469165;
}
.banner-text p{
     font-size: 18px;
  color: #ffffff;
  line-height: 24px;
}
.banner-ul{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
   list-style: none;
   margin-top: 20px;
}
.banner-ul .See{
  background-color: #FFFFFF;
  border: none;
  padding: 16px 12px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
 
}
.banner-ul li button a{
  text-decoration: none;
}
.banner-ul .See:hover{
  background-color: rgb(184, 186, 189);
}